# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
out/
.turbo/

# Env
.env
.env.local
.env.*.local
!.env.example

# Prisma
packages/database/prisma/migrations/dev.db*

# Testing
coverage/
playwright-report/
test-results/
.nyc_output/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
*.pem
.idea/
*.swp

# Misc
.vercel
.sentryclirc
tmp/
uploads/
